*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(11, 13, 13);
    color: cadetblue;
    display: flex;
    flex-direction: column;
}
.header h1{
    /* color: #fff; */
    font-size: 40px;
    padding: 30px 40px ;
    text-align: center;
    border-bottom: 1px solid white;
    box-shadow: 0 0 10px;
    font-weight: 800;
}
.header h2{
    font-size: 20px;
    padding: 30px 40px;
    font-weight: 800;

}
.disp-section{
    background-color: cadetblue;
    font-size: 30px;
    font-weight: 800;
    padding: 10px;
}
.disp-section a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0; 
    overflow: hidden;
}
li{
    float: left;
}
li a{
    display: block;
    padding: 20px;
    background-color: cadetblue;
}
li:last-child{
    float: right;
}

.disp-section #btn{
    background-color: cadetblue;
    outline: none;
    border: none;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}